body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    background-color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 30px;
    color: #333;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 30px;
    color: #333;
}

buttom:hoover{
    padding: 25px;
    margin: auto;
}

.menu-navigasi ul{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #7f849c;
    padding: 15px;
    margin: 0;
    list-style-type: none;
}
.menu-navigasi li{
    margin: 15px;
}

.menu-navigasi a{
    color: white;
    text-decoration: none;
}

img{
    display: block;
    margin: 20px auto;
    max-width: 300px;
    border-radius: 45%;
    border: 10px solid, #94e2d5 ; 
    box-shadow: 0 0 10px (rgb(148, 226, 213))
}

.fakta-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 25px;
}

.fakta-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.fakta-box {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 2px solid #3498db;
    border-radius: 10px; 
    background-color: #ecf0f1;
    box-shadow: 10px 10px 20px #89dceb; 
    text-align: center;
    transition: transform 0.3s ease; 
}

.fakta-box:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.tombol-fakta {
    background-color: #89dceb;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.tombol-fakta:hover {
    background-color: #89dceb;
}